body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #2e2f42;
  background-color: white;
}

nav {
  font-weight: 500;
}

.logo {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.nav-menu {
  line-height: 1.5;
  letter-spacing: 2%;
}

.nav-li:hover,
.nav-li:focus,
.nav-li:active {
  color: #404bbf;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul a:hover {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

h1 {
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 2%;
  text-align: center;
  color: white;
}

ul,
ol {
  list-style-type: none;
}

.hero-button {
  background-color: #4d5ae5;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover {
  background-color: #404bbf;
}

h2 {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 2%;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: white;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

p {
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.footer > p {
  color: inherit;
}
